{{#each errors}}
  <div class="alert alert-danger">
    {{text}}
  </div>
{{/each}}

<div class="card card-body">
  <h3>Video Idea</h3>
  <form action="/ideas" method="post">
    {{> _form }}
  </form>
</div>